<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   <div th:fragment="header">
    <meta charset="utf-8">
      <title>aptzip</title>
      <meta name="keywords" content="HTML5 Template">
      <meta name="description" content="Forum - Responsive HTML5 Template">
      <meta name="author" content="Forum">
      <link rel="shortcut icon" href="favicon/favicon.ico">
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/style.css"><!-- css/style.css = /user/css/style.css, /css/style.css = /css/style.css -->
    </div>
  </head>
 
</html>
