<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- https://forum19.azyrusthemes.com/ -->
<!-- header -->
<head th:replace="fragments/head::head"></head>
<body>
	<!-- navbar -->
	<div th:replace="fragments/header::header"></div>
	<!-- content body -->
	<div layout:fragment="content"></div>
	<!-- footer -->
	<div th:replace="fragments/modalAdvancedSearch::search"></div>
	<div th:replace="fragments/footer::footer"></div>
	<!-- custom javascript  -->
	<th:block layout:fragment="script"></th:block>
	<th:block layout:fragment="handlebars"></th:block>
</body>

</html>