<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
	<main id="tt-pageContent">
		<div class="container">
			<div class="tt-single-topic-list">

				<!-- board content start -->
				<div class="tt-item">
					<div class="tt-single-topic">
						<div class="tt-item-header">
							<div class="tt-item-info info-top">
								<div class="tt-avatar-icon">
									<i class="tt-icon"><svg>
											<use
												th:attr="'xlink:href'='/fonts/forum.svg#icon-ava-' + ${ #strings.substring(board.user.username, 0, 1) }">
											</use>
										</svg></i>
								</div>
								<div class="tt-avatar-title">
									<a th:href="@{/users/{id}(id=${board.user.id}) }">[[${ board.user.username }]]</a>
									<input type="hidden" id="boardID" th:value="${ board.id }">
									<input type="hidden" id="boardWriterID" th:value="${ board.user.id }">
									<input type="hidden" id="boardAptID" th:value="${ board.apt.code }">
									<input sec:authorize="isAuthenticated()" type="hidden" id="readerID"
										th:value="${#authentication.principal.id}">
									<input sec:authorize="isAuthenticated()" type="hidden" id="readerAptID"
										th:value="${#authentication.principal.apt.code}">
									<input type="hidden" id="likeBoard" th:value="${ like }">
								</div>
								<span class="tt-info-time">
									<i class="tt-icon">
										<svg>
											<use xlink:href="/fonts/forum.svg#icon-time"></use>
										</svg>
									</i>[[${ #temporals.format(board.updateDate, 'yyyy-MM-dd') }]]
								</span>
							</div>
							<h3 class="tt-item-title user-select-none">
								<a href="#">[[${ board.title }]]</a>
							</h3>
							<div class="tt-item-tag">
								<ul class="tt-list-badge">
									<li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} eq ${board.user.id}">
										<a th:href="@{/boards/{id}/edit(id=${board.id})}">
											<span class="tt-color08 tt-badge">edit</span>
										</a>
									</li>
									<li th:each="category : ${ board?.category }">
										<a href="#">
											<span th:class="'tt-color-' + ${ board?.category + ' tt-badge' }"
												th:classappend="'user-select-none'">[[${ category }]]</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="tt-item-description">
							<p th:utext="${board.content}">
								<!-- <p th:text="${board.content}"> -->
							</p>
						</div>
						<div class="tt-item-info info-bottom">
							<div class="col-separator"></div>
							<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent" id="likeBtn">
								<i class="tt-icon">
									<svg id="iconLike">
										<use xlink:href="/fonts/forum.svg#icon-favorite"></use>
									</svg>
								</i>
							</a>
							<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent" id="iconReply">
								<i class="tt-icon"><svg>
										<use xlink:href="/fonts/forum.svg#icon-reply"></use>
									</svg></i>
							</a>
						</div>
					</div>
				</div>
				<!-- board content end -->

				<!-- tt-info-box start -->
				<div class="tt-item">
					<div class="tt-info-box">
						<th:block th:if="${false}">
							<h6 class="tt-title">[[${#messages.msg('ThreadStatus')}]]</h6>
						</th:block>
						<div class="tt-row-icon">
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="/fonts/forum.svg#icon-view"></use>
										</svg></i>
									<span class="tt-text">[[${board?.viewCount}]]</span>
								</span>
							</div>
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="/fonts/forum.svg#icon-favorite"></use>
										</svg></i>
									<span class="tt-text">[[${#lists.size(likes)}]]</span>
								</span>
							</div>
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="/fonts/forum.svg#icon-reply"></use>
										</svg></i>
									<span class="tt-text" id="replyCount">[[${#lists.size(board.comments)}]]</span>
								</span>
							</div>
						</div>


						<th:block th:if="${false}">
							<hr>
							<div class="row-object-inline form-default">
								<h6 class="tt-title">[[${#messages.msg('S014')}]]</h6>
								<ul class="tt-list-badge tt-size-lg">
									<li><a href="#"><span class="tt-color02 tt-badge">[[${#messages.msg('Recent')}]]</span></a></li>
								</ul>
								<select class="tt-select form-control">
									<option value="Recent">[[${#messages.msg('Recent')}]]</option>
								</select>
							</div>
						</th:block>

					</div>
				</div>
				<!-- tt-info-box end -->

				<!-- comment-list start -->
				<div class="tt-single-topic-list" id="commentList">
					<th:block th:if="${false}">
						<div class="tt-item" th:each="comment : ${ board.comments }">
							<div class="tt-single-topic">
								<input type="hidden" th:value="${ comment.id }">

								<div class="tt-item-header pt-noborder">

									<div class="tt-item-info info-top">
										<div class="tt-avatar-icon">
											<i class="tt-icon"><svg>
													<use
														th:attr="'xlink:href'='/fonts/forum.svg#icon-ava-' + ${ #strings.substring(comment.user.getUsername(), 0, 1) }">
													</use>
												</svg></i>
										</div>
										<div class="tt-avatar-title">
											<a th:href="@{/users/{id}(id=${comment.user.id}) }">[[${ comment.user.username }]]</a>
										</div>
										<span class="tt-info-time">
											<i class="tt-icon"><svg>
													<use xlink:href="/fonts/forum.svg#icon-time"></use>
												</svg></i>[[${ #temporals.format(comment.updateDate, 'yyyy-MM-dd') }]]
										</span>
									</div>

								</div>

								<div class="tt-item-description">
									[[${ comment.commentContent }]]
								</div>

								<div class="tt-item-info info-bottom">
									<a href="#" class="tt-icon-btn">
										<i class="tt-icon"><svg>
												<use xlink:href="/fonts/forum.svg#icon-favorite"></use>
											</svg></i>
										<span class="tt-text">0</span>
									</a>
									<div class="col-separator"></div>
									<a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} eq ${comment.user.id}"
										href="#" class="tt-icon-btn tt-hover-02 tt-small-indent edit-comment">
										<i class="tt-icon"><svg>
												<use xlink:href="/fonts/forum.svg#icon-edit"></use>
											</svg></i>
									</a>
									<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
										<i class="tt-icon"><svg>
												<use xlink:href="/fonts/forum.svg#icon-reply"></use>
											</svg></i>
									</a>
								</div>

							</div>
						</div>
					</th:block>
				</div>
			</div>
			<!-- comment-list end -->

			<!-- login-message start -->
			<div class="tt-wrapper-inner">
				<h4 class="tt-title-separator">
					<span>
						[[${#messages.msg('S015')}]]
					</span>
				</h4>
			</div>

			<div class="tt-topic-list" sec:authorize="isAnonymous()">
				<div class="tt-item tt-item-popup">
					<div class="tt-col-avatar">
						<svg class="tt-icon">
							<use xlink:href="/fonts/forum.svg#icon-ava-f"></use>
						</svg>
					</div>
					<div class="tt-col-message">
						[[${#messages.msg('S001')}]]
					</div>
					<div class="tt-col-btn">
						<a th:href="@{/login}" class="btn btn-primary">[[${#messages.msg('Login')}]]</a>
						<a th:href="@{/signup}" class="btn btn-secondary">[[${#messages.msg('Signup')}]]</a>
						<button type="button" class="btn-icon" id="removePopup">
							<svg class="tt-icon">
								<use xlink:href="/fonts/forum.svg#icon-cancel"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<!-- login-message end -->

			<!-- comment form start -->
			<div sec:authorize="isAuthenticated()" class="tt-wrapper-inner">
				<div class="pt-editor form-default">
					<h6 class="pt-title">
						[[${#messages.msg('S024')}]]
					</h6>

					<div class="form-group">
						<th:block th:if="${board.apt.code} eq ${#authentication.principal.apt.code}">
							<textarea name="message" id="commentContent" class="form-control" rows="5"
								th:placeholder="${#messages.msg('S023')}"></textarea>
						</th:block>
						<th:block th:if="${board.apt.code} ne ${#authentication.principal.apt.code}">
							<textarea name="message" id="commentContent" class="form-control" rows="5"
								th:placeholder="${#messages.msg('S027')}" disabled></textarea>
						</th:block>
					</div>

					<div class="pt-row">
						<div class="col-auto" th:if="${board.apt.code} eq ${#authentication.principal.apt.code}">
							<a href="#" id="createReplyBtn" class="btn btn-secondary btn-width-lg">Comment</a>
						</div>
					</div>

				</div>
			</div>
			<!-- comment form end -->

			<!-- comment edit popup start -->
			<div id="js-popup-edit-comment" class="tt-popup-edit-comment">
				<div class="tt-btn-col-close">
					<a href="#">
						<span class="tt-icon-title">
							<svg>
								<use xlink:href="/fonts/forum.svg#icon-edit"></use>
							</svg>
						</span>
						<span class="tt-icon-text">
							Edit Comment
						</span>
						<span class="tt-icon-close">
							<svg>
								<use xlink:href="/fonts/forum.svg#icon-cancel"></use>
							</svg>
						</span>
					</a>
				</div>
				<form class="form-default">
					<input type="hidden" id="commentHiddenID">
					<div class="form-group">
						<label for="settingsUserAbout">Content</label>
						<textarea name="commentContent" placeholder="Edit Your Comment" class="form-control"
							id="updateCommentContent"></textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" id="deleteCommentBtn">Delete</button>
						<button type="button" class="btn btn-secondary" id="saveEditCommentBtn">Save</button>
					</div>
				</form>
			</div>
			<!-- comment edit popup end -->

		</div>
		<!-- container end-->
		<div class="tt-row-btn"></div>

	</main>

	<a th:href="@{/boards/new}" class="tt-btn-create-topic">
		<span class="tt-icon">
			<svg>
				<use xlink:href="/fonts/forum.svg#icon-create_new"></use>
			</svg>
		</span>
	</a>

</div>

<th:block th:if="${false}">
	<script layout:fragment="script"></script>
</th:block>

</html>