<!DOCTYPE html>
<html lang="en"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout.html}">

  <div layout:fragment="content">
    <main id="tt-pageContent" class="tt-offset-small">
      <!-- container start -->
      <div class="container">
        
        <!-- Id<p th:text="${#authentication.principal.getId()}"></p>
			Email<p th:text="${#authentication.principal.getEmail()}"></p>
			autho<p th:text="${#authentication.principal.getAuthorities()}"></p>
			name<p th:text="${#authentication.principal.getUsername()}"></p>
      password<p th:text="${#authentication.principal.getPassword()}"></p> -->
      
        <!-- <th:block th:with="auth=${#authentication.getPrincipal()}">
        <span th:text="${auth}"></span>
        </th:block> -->

        <!-- <div>
          <input type="text" name="" id="messagetest"><br>
          <button id="sockettest">sockettest</button>
        </div> -->
        <!-- topic-list start -->
        <div class="tt-topic-list">
          <!-- <div>[[${@environment.getProperty('env.aptzip.test3')} ?: '']]</div> -->
          <!-- list-header start -->
          <div class="tt-list-header">
            <div class="tt-col-topic">Topic</div>
            <div class="tt-col-category">Category</div>
            <div class="tt-col-value hide-mobile">Likes</div>
            <div class="tt-col-value hide-mobile">Comments</div>
            <div class="tt-col-value hide-mobile">Views</div>
            <div class="tt-col-value">Activity</div>
          </div>
          <!-- list-header end -->


          <!-- board-list start -->
          <th:block th:each="board, index : ${ list.result }">
            
            <!-- new post -->
            <div th:if="${ newBoard ne 0 and index.index eq 0}" class="tt-topic-alert tt-alert-default" role="alert">
              <a th:href="@{/board/{id}(id=${board.id})}" target="_blank">[[${ newBoard }]] new posts</a>
              are added recently, click here to load the most recent one.
            </div>

            <th:block th:if="${ index.index } eq 4">
          		<div class="tt-topic-list" sec:authorize="isAnonymous()">
                <div class="tt-item tt-item-popup">
                  <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-ava-f"></use>
                    </svg>
                  </div>
                  <div class="tt-col-message">
                    Looks like you are new here. Register for free, learn and contribute.
                  </div>
                  <div class="tt-col-btn">
                    <a th:href="@{/login}" class="btn btn-primary">Log in</a>
                    <a th:href="@{/signup}" class="btn btn-secondary">Sign up</a>
                    <button type="button" class="btn-icon" id="removePopup">
                      <svg class="tt-icon">
                        <use xlink:href="#icon-cancel"></use>
                      </svg>
                    </button></div>
                </div>
              </div>
            </th:block>
            
            <!-- new board -->
            <div class="tt-item" th:classappend="${#aptzip.isItOneHourAgo(board?.createDate)} ? 'tt-itemselect' : ''">
              <!-- <div>[[${ board }]]</div> -->
              <!-- <div>[[${ board?.user }]]</div> -->
              <div class="tt-col-avatar">
                <svg class="tt-icon">
                  <use
                    th:attr="'xlink:href'='#icon-ava-' + ${ #strings.substring(board?.user?.getUsername(), 0, 1) }"
                  ></use>
                </svg>
              </div>
              <div class="tt-col-description">
                <h6 class="tt-title">
                  <a th:href="@{/board/{id}(id=${board.id})}">
                    <!-- <svg class="tt-icon">
                      <use xlink:href="#icon-pinned"></use>
                    </svg> -->
                    [[${ board?.boardTitle }]]
                  </a>
                </h6>

                <div class="row align-items-center no-gutters">
                  <div class="col-11">
                    <ul class="tt-list-badge">
                      <li class="show-mobile">
                        <a href="#">
                          <span th:class="'tt-color0' + ${ board?.category?.id + ' tt-badge' }">[[${not #strings.isEmpty(board?.category)} ? ${board?.category?.name} : 'Common']]</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-1 ml-auto show-mobile">
                    <div>[[${#aptzip.betweenNowAndTime(board.createDate)}]]</div>
                  </div>
                </div>
              </div>
              <!-- 3항 연산자 단축 표현 -->
              <div class="tt-col-category">
                <!-- https://webfirewood.tistory.com/94 -->
                <span th:class="'tt-color0' + ${ board?.category?.id + ' tt-badge' }">
                  [[${not #strings.isEmpty(board?.category)} ? ${board?.category?.name} : 'Common']]
                </span>
              </div>
              <div class="tt-col-value hide-mobile">0</div>
              <div class="tt-col-value tt-color-select hide-mobile">
                [[${ #lists.size(board.comments) }]]
              </div>
              <div class="tt-col-value hide-mobile">
                [[${ board.viewCount }]]
              </div>
              <div class="tt-col-value hide-mobile">
                [[${#aptzip.betweenNowAndTime(board.createDate)}]]
                <!-- [[${ #temporals.format(board.createDate, 'HH:mm') }]] -->
              </div>
            </div>
          </th:block>
          <!-- board-list end -->

          <!-- paging start -->
          <div class="pagination-container">
            <nav>
              <!-- [[${list}]] -->
              <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${list.prevPage}">
                  <!-- <a th:href="@{?page={prev}(prev=${list.prevPage.pageNumber+1})}" class="page-link"> -->
                  <a th:href="${list.prevPage.pageNumber+1}" class="page-link">
                    <!-- [[${list.prevPage}]] -->
                    &laquo;
                  </a>
                </li>
                <li class="page-item" th:each="p:${list.pageList}" th:classappend="${p.pageNumber eq list.currentPageNum-1} ? active : ''">
                  <!-- <a th:href="@{?page={c}(c=${p.pageNumber+1})}" class="page-link"> -->
                  <a th:href="${p.pageNumber+1}" class="page-link">
                    [[${p.pageNumber} + 1]]
                  </a>
                </li>
                <li class="page-item" th:if="${list.nextPage}">
                  <!-- <a th:href="@{?page={next}(next=${list.nextPage.pageNumber+1})}" class="page-link"> -->
                  <a th:href="${list.nextPage.pageNumber+1}" class="page-link">
                    <!-- [[${list.nextPage}]] -->
                    &raquo;
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- paging end -->

          <!-- query start -->
          <form id="query" th:action="@{/apt/{id}(id=${#authentication.principal.apt.id})}" th:method="get">
            <input type="hidden" th:name="page" th:value="${list.currentPageNum}">
            <input type="hidden" th:name="size" th:value="${list.currentPage.pageSize}">
            <input type="hidden" th:name="query" th:value="${pageVo.query}">
          </form>
          <!-- query end -->

          <!-- row-btn start -->
          <!--
          <div class="tt-row-btn">
            <button type="button" class="btn-icon js-topiclist-showmore">
              <svg class="tt-icon">
                <use xlink:href="#icon-load_lore_icon"></use>
              </svg>
            </button>
          </div>
          -->
          <!-- row-btn end -->

        </div>
        <!-- topic-list end -->
      </div>
      <!-- container end -->
    </main>
    
  	<a th:href="@{/board/write}" class="tt-btn-create-topic">
  		<span class="tt-icon">
  			<svg>
  				<use xlink:href="#icon-create_new"></use>
  			</svg>
  		</span>
  	</a>
  </div>

  <script layout:fragment="script">
    $(document).ready(function(){
      const $queryForm = $("#query");

      $(".pagination a").click(function(event){
        event.preventDefault();
        $queryForm.find("[name='page']").val($(this).attr("href"));
        $queryForm.submit();
      });

      $(".tt-search__btn").click(function(event){
        event.preventDefault();
        const $query = $("#search-query").val();

        $queryForm.find("[name='query']").val($query);
        $queryForm.find("[name='page']").val("1");
        $queryForm.submit();
      });

      const $advancedQuery = $("#advancedSearch");
      $("#advancedSearchSubmit").on("click", function(event){
        event.preventDefault();
        
        $advancedQuery.submit();
      });
    });

    const REMOVE_POPUP_BTN = document.getElementById('removePopup');
    if (REMOVE_POPUP_BTN != null && REMOVE_POPUP_BTN != undefined) {
      REMOVE_POPUP_BTN.addEventListener('click', function(event){
        event.preventDefault();
        event.stopPropagation();
        deletePopup(event);
      }, false);
    }
  </script>
</html>
