<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout.html}">

  <div layout:fragment="content">
    <main id="tt-pageContent" class="tt-offset-small">
      <!-- container start -->
      <div class="container">
        <!-- topic-list start -->
        <div class="tt-topic-list">
          <!-- list-header start -->
          <div class="tt-list-header">
            <div class="tt-col-topic">[[${#messages.msg('Topic')}]]</div>
            <div class="tt-col-category">[[${#messages.msg('Category')}]]</div>
            <div class="tt-col-value hide-mobile">[[${#messages.msg('Likes')}]]</div>
            <div class="tt-col-value hide-mobile">[[${#messages.msg('Comments')}]]</div>
            <div class="tt-col-value hide-mobile">[[${#messages.msg('Views')}]]</div>
            <div class="tt-col-value">[[${#messages.msg('Activity')}]]</div>
          </div>
          <!-- list-header end -->


          <!-- board-list start -->
          <th:block th:each="board, index : ${ list.result }">
            
            <!-- new post -->
            <div th:if="${ newBoard ne 0 and index.index eq 0}" class="tt-topic-alert tt-alert-default" role="alert">
              <a th:href="@{/board/{id}(id=${board.id})}" target="_blank">[[${ newBoard }]] new posts</a>
              are added recently, click here to load the most recent one.
            </div>

            <th:block th:if="${ index.index } eq 4">
          		<div class="tt-topic-list" sec:authorize="isAnonymous()">
                <div class="tt-item tt-item-popup">
                  <div class="tt-col-avatar">
                    <svg class="tt-icon">
                      <use xlink:href="/fonts/forum.svg#icon-ava-f"></use>
                    </svg>
                  </div>
                  <div class="tt-col-message">
                    [[${#messages.msg('S001')}]]
                  </div>
                  <div class="tt-col-btn">
                    <a th:href="@{/login}" class="btn btn-primary">[[${#messages.msg('Login')}]]</a>
                    <a th:href="@{/signup}" class="btn btn-secondary">[[${#messages.msg('Signup')}]]</a>
                    <button type="button" class="btn-icon" id="removePopup">
                      <svg class="tt-icon">
                        <use xlink:href="/fonts/forum.svg#icon-cancel"></use>
                      </svg>
                    </button></div>
                </div>
              </div>
            </th:block>
            
            <!-- new board -->
            <div class="tt-item" th:classappend="${#aptzip.isItOneHourAgo(board?.createDate)} ? 'tt-itemselect' : ''">
              <div class="tt-col-avatar">
                <svg class="tt-icon">
                  <use
                    th:attr="'xlink:href'='/fonts/forum.svg#icon-ava-' + ${ #strings.substring(board?.user?.getUsername(), 0, 1) }"
                  ></use>
                </svg>
              </div>
              <div class="tt-col-description">
                <h6 class="tt-title">
                  <a th:href="@{/board/{id}(id=${board.id})}">
                    [[${ board?.boardTitle }]]
                  </a>
                </h6>

                <div class="row align-items-center no-gutters">
                  <div class="col-11">
                    <ul class="tt-list-badge">
                      <li class="show-mobile">
                        <a href="#">
                          <span th:class="'tt-color0' + ${ board?.category?.id + ' tt-badge' }">[[${not #strings.isEmpty(board?.category)} ? ${board?.category?.name} : 'Common']]</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-1 ml-auto show-mobile">
                    <div>[[${#aptzip.betweenNowAndTime(board.createDate)}]]</div>
                  </div>
                </div>
              </div>
              <div class="tt-col-category">
                <span th:class="'tt-color0' + ${ board?.category?.id + ' tt-badge' }">
                  [[${not #strings.isEmpty(board?.category)} ? ${board?.category?.name} : 'Common']]
                </span>
              </div>
              <div class="tt-col-value hide-mobile">0</div>
              <div class="tt-col-value tt-color-select hide-mobile">
                [[${ #lists.size(board.comments) }]]
              </div>
              <div class="tt-col-value hide-mobile">
                [[${ board.viewCount }]]
              </div>
              <div class="tt-col-value hide-mobile">
                [[${#aptzip.betweenNowAndTime(board.createDate)}]]
              </div>
            </div>
          </th:block>
          <!-- board-list end -->

          <!-- paging start -->
          <div class="pagination-container">
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${list.prevPage}">
                  <a th:href="${'/index/' + (list.prevPage.pageNumber+1)}" class="page-link">
                    &laquo;
                  </a>
                </li>
                <li class="page-item" th:each="p:${list.pageList}" th:classappend="${p.pageNumber eq list.currentPageNum-1} ? active : ''">
                  <a th:href="${'/index/' + (p.pageNumber+1)}" class="page-link">
                    [[${p.pageNumber} + 1]]
                  </a>
                </li>
                <li class="page-item" th:if="${list.nextPage}">
                  <a th:href="${'/index/' + (list.nextPage.pageNumber+1)}" class="page-link">
                    &raquo;
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- paging end -->
        </div>
        <!-- topic-list end -->
      </div>
      <!-- container end -->
    </main>
    
  	<a th:href="@{/board/write}" class="tt-btn-create-topic">
  		<span class="tt-icon">
  			<svg>
  				<use xlink:href="/fonts/forum.svg#icon-create_new"></use>
  			</svg>
  		</span>
  	</a>
  </div>

  <script layout:fragment="script">
    const REMOVE_POPUP_BTN = document.getElementById('removePopup');
    if (REMOVE_POPUP_BTN != null && REMOVE_POPUP_BTN != undefined) {
      REMOVE_POPUP_BTN.addEventListener('click', function(event){
        event.preventDefault();
        event.stopPropagation();
        deletePopup(event);
      }, false);
    }
  </script>
</html>
