<!doctype html>
<html lang="ko"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/noheader.html}">

  <div layout:fragment="content">
	<!-- tt-mobile menu -->
	<nav class="panel-menu" id="mobile-menu">
		<ul>

		</ul>
		<div class="mm-navbtn-names">
			<div class="mm-closebtn">
				Close
				<div class="tt-icon">
					<svg>
						<use xlink:href="/fonts/forum.svg#icon-cancel"></use>
					</svg>
				</div>
			</div>
			<div class="mm-backbtn">Back</div>
		</div>
	</nav>
	<main id="tt-pageContent" class="tt-offset-none">
		<div class="container">
			<div class="tt-loginpages-wrapper">
				<div class="tt-loginpages">
					<a th:href="@{/}" class="tt-block-title">
						<img th:src="@{/images/logo.png}" alt="">
						<div class="tt-title">
							[[${#messages.msg('S004')}]]
						</div>
						<div class="tt-description">
							[[${#messages.msg('S010')}]]
						</div>
					</a>
					<form action="#" class="form-default" th:action="@{/signup}" th:object="${user}" method="post">
						<th:block th:if="${false}">
							<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						</th:block>
						
						<div th:if="${error}">
							<div class="alert alert-danger" role="alert">
								Failed to registered.
							</div>
						</div>
						<div class="form-group">
							<label for="loginUserName">[[${#messages.msg('Username')}]]</label>
							<input th:field="*{username}" type="text" name="username" class="form-control" id="loginUserName" th:placeholder="${#messages.msg('yourname')}">
						</div>
						<div class="form-group">
							<label for="loginUserEmail">[[${#messages.msg('Email')}]]</label>
							<input th:field="*{email}" type="text" name="email" class="form-control" id="loginUserEmail" placeholder="sample@aptzip.com">
						</div>
						<div class="form-group">
							<label for="loginUserPassword">[[${#messages.msg('Password')}]]</label>
							<input th:field="*{password}" type="password" name="password" class="form-control" id="loginUserPassword" placeholder="************">
						</div>
						<div class="form-group">
							<label for="loginUserApartment">[[${#messages.msg('Apartment')}]]</label>
							<small>(현재는 아파트를 선택할 수 없습니다)</small>
							<input type="text" name="aptCode" class="form-control" id="loginUserApartment" placeholder="A10024484" value="A10024484" readonly>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-secondary btn-block">[[${#messages.msg('S011')}]]</button>
						</div>

						
						<div class="tt-notes">
							<p>[[${#messages.msg('S012')}]]
								<a th:href="@{/login}" class="tt-underline">
									&nbsp;[[${#messages.msg('S013')}]]
								</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	
</div>

</html>