<!doctype html>
<html lang="en"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
	<main id="tt-pageContent">
		<!-- <div>[[${ board.comments }]]</div> -->
		<!-- <input type="hidden" th:value="${board.user}" id="hiddenBoardUsername"> -->
		<div class="container">
			<div class="tt-single-topic-list">

				<!-- board content start -->
				<!-- <div>[[${board}]]</div> -->
				<div class="tt-item">
					<div class="tt-single-topic">
						<div class="tt-item-header">
							<div class="tt-item-info info-top">
								<div class="tt-avatar-icon">
									<i class="tt-icon"><svg>
										<use th:attr="'xlink:href'='#icon-ava-' + ${ #strings.substring(board.user.username, 0, 1) }"></use>
										</svg></i>
								</div>
								<div class="tt-avatar-title">
									<a th:href="@{ ~/user/{id}/info(id=${board.user.id}) }">[[${ board.user.username }]]</a>
									<input type="hidden" id="boardId" th:value="${ board.id }">
									<input sec:authorize="isAuthenticated()" type="hidden" id="commentUser" th:value="${#authentication.principal.id}">
								</div>
								<span class="tt-info-time">
									<i class="tt-icon">
										<svg>
											<use xlink:href="#icon-time"></use>
										</svg>
									</i>[[${ #temporals.format(board.updateDate, 'yyyy-MM-dd') }]]
								</span>
							</div>
							<h3 class="tt-item-title">
								<a href="#">[[${ board.boardTitle }]]</a>
							</h3>
							<div class="tt-item-tag">
								<ul class="tt-list-badge">
									<li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} eq ${board.user.id}">
										<a th:href="${ '/board/edit/' + board.id }">
											<span class="tt-color08 tt-badge">edit</span>
										</a>
									</li>
									<li th:each="category : ${ board?.category?.name }">
										<a href="#">
											<span th:class="'tt-color0' + ${ board?.category?.id + ' tt-badge' }">[[${ category }]]</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="tt-item-description">
							<!-- html 태그의 내용으로 출력하는 경우와 속성의 값으로 출력하는 경우 th:text -->
							<!-- html 태그가 포함된 내용을 출력할 때는 unescaped text를 출력해 주는 th:utext -->
							<p th:utext="${#strings.replace(board.boardContent, '\n', '&lt;br /&gt;')}">
							<!-- <p th:utext="${#strings.replace( #strings.escapeXml( board.boardContent ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"> -->
							<p th:utext="${board.boardContent}">
							</p>
						</div>
						<div class="tt-item-info info-bottom">
							<div class="col-separator"></div>
							<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
								<i class="tt-icon"><svg>
									<use xlink:href="#icon-favorite"></use>
								</svg></i>
							</a>
							<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent" id="iconReply">
								<i class="tt-icon"><svg>
									<use xlink:href="#icon-reply"></use>
								</svg></i>
							</a>
							<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
								<i class="tt-icon"><svg>
										<use xlink:href="#icon-share"></use>
									</svg></i>
							</a>
						</div>
					</div>
				</div>
				<!-- board content end -->

				<!-- tt-info-box start -->
				<div class="tt-item">
					<div class="tt-info-box">
						<h6 class="tt-title">Thread Status</h6>
						<div class="tt-row-icon">
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-view"></use>
										</svg></i>
									<span class="tt-text">[[${board?.viewCount}]]</span>
								</span>
							</div>
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-favorite"></use>
										</svg></i>
									<span class="tt-text">0</span>
								</span>
							</div>
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-reply"></use>
										</svg></i>
									<span class="tt-text" id="replyCount">[[${#lists.size(board.comments)}]]</span>
								</span>
							</div>
							<div class="tt-item">
								<span href="#" class="tt-icon-btn tt-position-bottom">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-share"></use>
										</svg></i>
									<span class="tt-text">0</span>
								</span>
							</div>
						</div>

						<hr>

						<div class="row-object-inline form-default">
							<h6 class="tt-title">Sort replies by:</h6>
							<ul class="tt-list-badge tt-size-lg">
								<li><a href="#"><span class="tt-color02 tt-badge">Recent</span></a></li>
								<li><a href="#"><span class="tt-badge">Most Liked</span></a></li>
								<li><a href="#"><span class="tt-badge">Longest</span></a></li>
								<li><a href="#"><span class="tt-badge">Shortest</span></a></li>
							</ul>
							<select class="tt-select form-control">
								<option value="Recent">Recent</option>
								<option value="Most Liked">Most Liked</option>
								<option value="Longest">Longest</option>
								<option value="Shortest">Shortest</option>
							</select>
						</div>
					</div>
				</div>
				<!-- tt-info-box end -->

				<!-- comment-list start -->
				<!-- <div class="tt-item" th:each="comment : ${ #lists.sort(board.comments) }"> -->
				<!-- <div>[[${board.comments}]]</div> -->
				<div class="tt-single-topic-list" id="commentList">
					<div class="tt-item" th:each="comment : ${ board.comments }">
						<!-- <div>[[${comment}]]</div> -->
						<div class="tt-single-topic">
							<input type="hidden" th:value="${ comment.id }">

							<div class="tt-item-header pt-noborder">
								<div class="tt-item-info info-top">
									<div class="tt-avatar-icon">
										<i class="tt-icon"><svg>
											<use th:attr="'xlink:href'='#icon-ava-' + ${ #strings.substring(comment.user.getUsername(), 0, 1) }"></use>
											</svg></i>
									</div>
									<div class="tt-avatar-title">
										<a th:href="@{ /user/info/{id}(id=${comment.user.id}) }">[[${ comment.user.username }]]</a>
									</div>
									<span class="tt-info-time">
										<i class="tt-icon"><svg>
												<use xlink:href="#icon-time"></use>
											</svg></i>[[${ #temporals.format(comment.updateDate, 'yyyy-MM-dd') }]]
									</span>
								</div>
							</div>

							<div class="tt-item-description">
								[[${ comment.commentContent }]]
							</div>

							<div class="tt-item-info info-bottom">
								<a href="#" class="tt-icon-btn">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-favorite"></use>
										</svg></i>
									<span class="tt-text">0</span>
								</a>
								<div class="col-separator"></div>
								<a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} eq ${comment.user.id}" href="#" class="tt-icon-btn tt-hover-02 tt-small-indent edit-comment">
									<i class="tt-icon"><svg>
										<use xlink:href="#icon-edit"></use>
									</svg></i>
								</a>
								<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-share"></use>
										</svg></i>
								</a><!-- https://www.w3schools.com/howto/howto_css_social_media_buttons.asp -->
								<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
									<i class="tt-icon"><svg>
											<use xlink:href="#icon-reply"></use>
										</svg></i>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- comment-list end -->

			<div class="tt-wrapper-inner">
				<h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
			</div>

			<div class="tt-topic-list" sec:authorize="isAnonymous()">
				<div class="tt-item tt-item-popup">
					<div class="tt-col-avatar">
						<svg class="tt-icon">
							<use xlink:href="#icon-ava-f"></use>
						</svg>
					</div>
					<div class="tt-col-message">
						Looks like you are new here. Register for free, learn and contribute.
					</div>
					<div class="tt-col-btn">
						<a th:href="@{/login}" class="btn btn-primary">Log in</a>
						<a th:href="@{/join}" class="btn btn-secondary">Sign up</a>
						<button type="button" class="btn-icon" id="removePopup">
							<svg class="tt-icon">
								<use xlink:href="#icon-cancel"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
<!-- 
			<button id="asd">asd</button>
			<script>
				var asd = document.getElementById('asd');
				asd.addEventListener('click', function(){
					console.log('[[${board}]]');
				}, false);
			</script>
			 -->
			<!-- comment form start -->
			<div sec:authorize="isAuthenticated()" th:if="${board.apt.id} eq ${#authentication.principal.apt.id}" class="tt-wrapper-inner">
				<div class="pt-editor form-default">
					<h6 class="pt-title">Post Your Reply</h6>
					
					<div class="form-group">
						<textarea name="message" id="commentContent" class="form-control" rows="5" placeholder="Lets get started"></textarea>
					</div>
					
					<div class="pt-row">
						<div class="col-auto">
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox21" name="checkbox" checked="">
								<label for="checkBox21">
									<span class="check"></span>
									<span class="box"></span>
									<span class="tt-text">Subscribe to this topic.</span>
								</label>
							</div>
						</div>
						<div class="col-auto">
							<a href="#" id="createReplyBtn" class="btn btn-secondary btn-width-lg">Comment</a>
						</div>
					</div>
				</div>
			</div>
			<!-- comment form end -->

			<!-- comment edit popup start -->
			<div id="js-popup-edit-comment" class="tt-popup-edit-comment">
				<div class="tt-btn-col-close">
					<a href="#">
						<span class="tt-icon-title">
							<svg>
								<use xlink:href="#icon-edit"></use>
							</svg>
						</span>
						<span class="tt-icon-text">
							Edit Comment
						</span>
						<span class="tt-icon-close">
							<svg>
								<use xlink:href="#icon-cancel"></use>
							</svg>
						</span>
					</a>
				</div>
				<form class="form-default">
					<input type="hidden" id="commentHiddenId">
					<div class="form-group">
						<label for="settingsUserAbout">Content</label>
						<textarea name="commentContent" placeholder="Edit Your Comment" class="form-control" id="updateCommentContent"></textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" id="deleteCommentBtn">Delete</button>
						<button type="button" class="btn btn-secondary" id="saveEditCommentBtn">Save</button>
					</div>
				</form>
			</div>
			<!-- comment edit popup end -->

		</div>
		<!-- container ner -->
		<div class="tt-row-btn"></div>

	</main>

	<a href="/board/write" class="tt-btn-create-topic">
		<span class="tt-icon">
			<svg>
				<use xlink:href="#icon-create_new"></use>
			</svg>
		</span>
	</a>
	
</div>


	<script layout:fragment="script">
	// <script th:inline="javascript">
	// th:inline 으로 작성할 경우 thymeleaf 변수에 ''를 감싸지 않아도 자동으로 문자열 처리된다.
	// 하지만 편집기에서 계속 경고 표시가 나오니 ''로 감싸자... 주석처리해도 parsing 된다.

		// 사용자가 devtool로 DOM 조작으로 삭제할 수 없도록
		const USER_ID = "[[${#authentication?.principal} ne 'anonymousUser' ? ${#authentication?.principal.id} : '']]";
		const BOARD_ID = document.getElementById('boardId').value;
		// const COMMENT_USER = document.getElementById('commentUser');

		const CREATE_COMMENT_BTN = document.getElementById('createReplyBtn');
		let commentList = document.getElementById('commentList');

		if (CREATE_COMMENT_BTN != undefined && CREATE_COMMENT_BTN != null) {
			CREATE_COMMENT_BTN.addEventListener('click', function (event) {
				event.preventDefault();
				event.stopPropagation();
				const COMMENT_CONTENT = document.getElementById('commentContent').value;
				// createReply(BOARD_ID, COMMENT_CONTENT);

				const obj = { boardId:BOARD_ID, commentContent:COMMENT_CONTENT };
				comment.create(obj, function(list) {
					// console.log(list);
					
					// https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/readyState
					// 0	CONNECTING	Socket has been created. The connection is not yet open.
					// 1	OPEN	The connection is open and ready to communicate.
					// 2	CLOSING	The connection is in the process of closing.
					// 3	CLOSED	The connection is closed or couldn't be opened.
			    if (ws.readyState === 1) {
						// console.log('comment alert');
						let msg = COMMENT_CONTENT + "|" + "[[${#authentication?.principal} ne 'anonymousUser' ? ${#authentication?.principal.username} : '']]" + "|" + "[[${ board.user.username }]]";
						ws.send(msg);
					}

					document.getElementById('commentContent').value = '';
				  commentList.innerHTML = '';
					renderComment(list, commentList, USER_ID);
					// console.log(list.length);
    			document.getElementById('replyCount').innerText = list.length;

				});
			}, false);
		}

		const DELETE_COMMENT_BTN = document.getElementById('deleteCommentBtn');
		if (DELETE_COMMENT_BTN != undefined && DELETE_COMMENT_BTN != null) {
			DELETE_COMMENT_BTN.addEventListener('click', function (event) {
				event.preventDefault();
				event.stopPropagation();

				// console.log(this);
				// console.log(event.target);

				if (confirm('정말 삭제하시겠습니까?')) {
					const commentId = document.getElementById('commentHiddenId').value;
					const obj = { boardId:BOARD_ID, commentId:commentId };
	
					comment.remove(obj, function(list) {
						// console.log(list);
	
						document.getElementById('updateCommentContent').value = '';
						
						commentList.innerHTML = '';
						renderComment(list, commentList, USER_ID);
						document.getElementById('replyCount').innerText = list.length;
						
						// $(".tt-btn-col-close").trigger('click');
						document.getElementsByClassName('modal-filter').item(0).click();
					});
				}
			}, false);
		}

		const UPDATE_COMMENT_BTN = document.getElementById('saveEditCommentBtn');
		if (UPDATE_COMMENT_BTN != undefined && UPDATE_COMMENT_BTN != null) {
			UPDATE_COMMENT_BTN.addEventListener('click', function (event) {
				event.preventDefault();
				event.stopPropagation();

				const COMMENT_ID = document.getElementById('commentHiddenId').value;
				const COMMENT_CONTENT = document.getElementById('updateCommentContent').value;
				
				const obj = { boardId:BOARD_ID, id:COMMENT_ID, commentContent:COMMENT_CONTENT };

				comment.update(obj, function(list) {
					alert('댓글이 성공적으로 수정되었습니다.');

					commentList.innerHTML = '';
					renderComment(list, commentList, USER_ID);
					document.getElementsByClassName('modal-filter').item(0).click();
				});
			}, false);
		}
		
		editBtn();
		function editBtn() {
			const editComment = document.getElementsByClassName('edit-comment');
			for (let i = 0; i < editComment.length; i++) {
				editComment.item(i).addEventListener('click', function(event){
					event.preventDefault();
					// event.stopPropagation(); -> 다음 이벤트로 넘어가질 않는다.
	
					// console.log(this);
					const commentHiddenId = document.getElementById('commentHiddenId');
					// childNodes 같은 경우는 공백과 같은 문자열도 textNodes로 잡기 때문에
					// 이후에 동적 생성한 객체처럼 공백이 없을 경우 node 숫자가 달라진다.
					// children으로 사용할 것.
					// commentHiddenId.value = this.parentElement.parentElement.childNodes.item(1).value;
					commentHiddenId.value = this.parentElement.parentElement.children.item(0).value;
					
					const updateCommentContent = document.getElementById('updateCommentContent');
					// updateCommentContent.value = this.parentElement.parentElement.childNodes.item(5).innerText;
					updateCommentContent.value = this.parentElement.parentElement.children.item(2).innerText;
					updateCommentContent.focus();
					
				});
			}
		}


		/*
			!!! popup !!! remove
		*/
		const REMOVE_POPUP_BTN = document.getElementById('removePopup');
		if (REMOVE_POPUP_BTN != undefined && REMOVE_POPUP_BTN != null) {
			REMOVE_POPUP_BTN.addEventListener('click', function (event) {

				// this에만 해당
				event.preventDefault();
				event.stopPropagation();

				this.parentNode.parentNode.parentElement.remove();
				// console.log(this);
				// console.log(event.target);

			}, false);
		}


		document.getElementById('iconReply').addEventListener('click', function(event) {
			event.preventDefault();
			document.getElementById('commentContent').focus();
		});

	</script>
	
	<script layout:fragment="handlebars" id="comments-template" type="text/x-handlebars-template">
		<!-- <div>{{login}}</div> -->
		{{#each list}}
			<!-- <div>{{this.id}}</div> -->
				<div class="tt-item">
					<div class="tt-single-topic">
				 	  <input type="hidden" value="{{this.id}}">
				    	<div class="tt-item-header pt-noborder">
								<div class="tt-item-info info-top">
		 		        	<div class="tt-avatar-icon">
			 		          <i class="tt-icon">
											<svg>
			                 	<use xlink:href="#icon-ava-{{{subString this.user.username}}}"></use>
											 </svg>
										</i>
			            </div>
			 	          <div class="tt-avatar-title">
			 		          <a href="/user/{{this.user.id}}/info">{{{this.user.username}}}</a>
					        </div>
		 			        <a href="#" class="tt-info-time">
		 					      <i class="tt-icon">
											<svg>
												<use xlink:href="#icon-time"></use>
											</svg>
										</i>{{moment this.updateDate}}</a>
		 				    </div>
		 			    </div>
		
	 			    	<div class="tt-item-description">
		   					{{this.commentContent}}
	            </div>
		
				 			<div class="tt-item-info info-bottom">
								<a href="#" class="tt-icon-btn">
									<i class="tt-icon">
										<svg>
											<use xlink:href="#icon-favorite"></use>
										</svg>
									</i>
									<span class="tt-text">0</span>
								</a>
								<div class="col-separator"></div>
								<!-- {{{../login}}} {{this.user.id}} -->
								{{#ifCond ../login '==' this.user.id}}
								<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent edit-comment">
									<i class="tt-icon">
										<svg>
											<use xlink:href="#icon-edit"></use>
										</svg>
									</i>
								</a>
								{{/ifCond}}
				  		<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
						<i class="tt-icon">
							<svg>
								<use xlink:href="#icon-share"></use>
							</svg>
						</i>
					</a>
					<a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
						<i class="tt-icon">
							<svg>
								<use xlink:href="#icon-reply"></use>
							</svg>
						</i>
					</a>
				</div>
   		</div>
 		</div>
	{{/each}}
	</script>
</html>